@use "config/variables" as var;


.swiper {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  padding-left: 5px !important;
}
.swiper-slide {
  width: auto !important;
}
.swiper-button-next {
  background-image: url(https://bruce-fe-fb.web.app/image/right-arrow.svg);
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: center;
  border-radius: 9999px;
  background-color: #3e4042;
  width: 36px !important;
  height: 36px !important;
  top: 29px !important;
}
.swiper-button-prev {
  background-image: url(https://bruce-fe-fb.web.app/image/left-arrow.svg);
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: center;
  border-radius: 9999px;
  background-color: #3e4042;
  width: 36px !important;
  height: 36px !important;
  top: 29px !important;
}

// 箭頭隱藏消失
.swiper-button-next::after {
  display: none;
}
.swiper-button-prev::after {
  display: none;
}
.swiper-button-disabled {
  opacity: 0 !important;
}

/*  Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Firefox */
.no-scrollbar {
  scrollbar-width: none;
}

// 右側相關 
.js-contactPerson::before{
  content: "";
  position: absolute;
  width: 10px;
  height: 125%;
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.message{
  visibility: hidden;
}
.js-contactPerson:hover > .message,
.js-contactPerson:focus > .message,
.js-contactPerson:focus-within > .message{
  visibility: visible;
}
.user-drag {
  -webkit-user-drag: none;
}

